<div id="contenido">
    <h1 style="color: white;"><b>Comics Registrados</b></h1>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Editorial/Nombre</th>
            <th>A&ntilde;o impresi&oacute;n</th>
            <th>Descripci&oacute;n</th>
            <th>Borrar</th>
            <th>editar</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let comics of comics">
                <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="{{comics.editorial}}"
                            alt=""
                            style="width: 100px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{comics.nombre}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-success rounded-pill d-inline">{{comics.yimpress}}</span>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{comics.sinopsis}}</p>
                </td>
                <td *ngIf="usuarin==comics.usuario">
                    <img src="assets/img/borrar.jpg" (click)="borrar(comics)"/>
                </td>
                <td *ngIf="usuarin==comics.usuario">
                    <img src="assets/img/lapiz.png" (click)="editar(comics)">
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <button (click)="navegar('menusin')" type="button" class="btn btn-success">Menu</button>
</div>