<div class="contenido">
  <form  [formGroup]="form">
    <div class="row">
      <div class="col-md">
        <p class="h1">Registrarse</p> <br><br>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            aria-label="Usuario"
            formControlName="usuario"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Contrase&ntilde;a"
            aria-label="Contrase&ntilde;a"
            formControlName="password"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text" id="basic-addon2">Contrase&ntilde;a</span>
        </div>

        <label for="text" class="form-label">Informaci&oacute;n</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Nombre</span>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
            aria-describedby="basic-addon3"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Fecha de Nacimiento</span>
          <input
            type="date"
            class="form-control"
            formControlName="fecha_nac"
            aria-describedby="basic-addon3"
          />
        </div>
        <!-- Default radio -->
        <label for="text" class="form-label">Sexo</label>
        <div class="form-check">
          <input
            mdbRadio
            class="form-check-input"
            type="radio"
            name="sexo"
            value="M"
            formControlName="sexo"
          />
          <label class="form-check-label" for="flexRadioDefault1">Masculino</label>
        </div>
        <!-- Default checked radio -->
        <div class="form-check">
          <input
            mdbRadio
            class="form-check-input"
            type="radio"
            name="sexo"
            value="F"
            formControlName="sexo"
          />
          <label class="form-check-label" for="flexRadioDefault2">Femenino</label>
        </div>
        <br>
        <button (click)="grabar()"  type="button" class="btn btn-success">Grabar usuario</button>
      </div>
    </div>
  </form>
</div>


