<body>
<div class="contenido">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md">
          <p class="h1">Editar Comic</p> <br><br>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              aria-label="Nombre"
              formControlName="nombre"
              aria-describedby="basic-addon1"
            />
          </div>
          <label for="text" class="form-label">Detalles</label>
          <div class="input-group mb-3">
            <input
              type="date"
              class="form-control"
              placeholder="A&ntilde;o de impresi&oacute;n"
              aria-label="A&ntilde;o de impresi&oacute;n"
              formControlName="yimpress"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text" id="basic-addon2">A&ntilde;o de impresi&oacute;n</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Sinopsis</span>
            <input
              type="text"
              class="form-control"
              id="basic-url1"
              formControlName="sinopsis"
              aria-describedby="basic-addon3"
            />
          </div>
          <label for="text" class="form-label">Editorial</label>
          <select formControlName="editorial" class="form-control" >
            <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1200px-Marvel_Logo.svg.png" >MARVEL</option>
            <option value="https://brandemia.org/contenido/subidas/2016/05/cabecera-dc_comics-scaled.jpg" >DC</option>
            <option value="https://static.wikia.nocookie.net/dragonball/images/9/9b/Dragon_Ball_Z_Logo.png">IMAGE</option>
          </select>
          <br>
          <button  (click)="editar()" type="button" class="btn btn-success">Grabar Comic</button>
          <button  (click)="navegar('consulta')" type="button" class="btn btn-success">Menu</button>
        </div>
      </div>
    </form>
  </div> 
</body>     
