body{
    height: 100vh;
    padding: 20px;
  }
  
  .contenido{
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  
  .contenido button{
    background-color:blueviolet;
    border-color: black;
    border-radius: 5%;
    cursor: pointer;
    border: 5px solid #252850;
  }
  