<div class="contenido">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md">
        <p class="h1">Login</p> <br><br>
        <div class="input-group mb-5">
            <mdb-form-control>
              <input
                mdbValidate
                mdbInput
                type="email"
                id="form1"
                class="form-control"
                formControlName="usuario"
                required
              />
              <label mdbLabel class="form-label" for="form1">Usuario</label>
              <mdb-error
                *ngIf="
                usuario?.invalid && (usuario?.dirty || usuario?.touched)
                "
                >Usuario is required</mdb-error
              >
              <mdb-success
                *ngIf="
                usuario?.valid && (usuario?.dirty || usuario?.touched)
                "
                >Looks good!</mdb-success
              >
            </mdb-form-control>

        </div>
        <div class="input-group mb-5">
            <mdb-form-control>
              <input
                mdbValidate
                mdbInput
                type="password"
                id="form2"
                class="form-control"
                formControlName="password"
                required
              />
              <label mdbLabel class="form-label" for="form2">Contrase&ntilde;a</label>
              <mdb-error *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                >Contrase&ntilde;a is required</mdb-error
              >
              <mdb-success *ngIf="password?.valid && (password?.dirty || password?.touched)"
                >Looks good!</mdb-success
              >
            </mdb-form-control>
        </div>
        <div class="input-group mb-1">
            <button (click)="ingresous()" type="button" class="form-control btn btn-success">Ingresar al sistema</button>
        </div>
        <div class="input-group mb-4">
            <button (click)="navegar('registro')" type="button" class=" form-control btn btn-info">Registrar usuario</button>
        </div>
      </div>
    </div>
  </form>
</div>
